<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dszsu.tss">

    <application
        android:label="透明截图"
        tools:ignore="HardcodedDebugMode,MissingApplicationIcon">

        
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="使窗口不显示在截屏和录屏中" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/scope" />
    </application>

</manifest>

